/* место для вашего кода */



.header {
  padding: 92px 49px 92px 51px;
  /* width: 1440px; */
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__menu {
  width: 388px;
  height: 23px;
  flex-shrink: 0;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  list-style-type: circle;
}

.header__link {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px black solid;
}

.header__link-active {
  border-bottom: none;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo {
  display: block;
  flex-shrink: 0;
  position: absolute;
  left: 45%;
z-index: 1;
}

.header__logo-image {
    height: 105px;;
}

.adress {
  width: 240px;
  height: 97px;
  flex-shrink: 0;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
}

.adress a {
      text-decoration: none;
      border-bottom: 1px black solid;

}
