.header {
  padding: 92px 49px 92px 51px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  max-width: 388px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  list-style-type: circle;
}

.header__link {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__link-active {
  border-bottom: none;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo {
  display: block;
}

.header__logo-image {
  padding-right: 150px;
  height: 105px;
}

.address {
  max-width: 240px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}

.address-link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

/* COVER */

.cover {
  padding: 165px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 135px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/cover.jpg");
  position: relative;
  z-index: -1;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}

.aligned-text {
  display: block;
  color: #fff;
  font-size: 100px;
  font-style: normal;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text_center {
  max-width: 1310px;
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.line-hight-extended {
  line-height: 115%;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: initial;
}

.cover__description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 78px;
  z-index: 1;
}

.cover__description-text {
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.4px;
  z-index: 1;
}

.bet-button {
  display: block;
  width: 257px;
  height: 52px;
  flex-shrink: 0;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

/* LOTS */

.lots {
  display: flex;
  flex-direction: column;
  padding: 180px 50px 181px 50px;
}

.lots__heading {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 28px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  display: block;
  width: 430px;
  min-height: 450px;
  flex-grow: 1;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  flex-shrink: 0;
  padding: 50px 40px;
  z-index: 0;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 2;
}

.card__text {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  z-index: 2;
}

.lots__look-more-link {
  display: block;
  max-width: 192px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
  margin-left: 40px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

/* ABOUT */

.about {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding: 0 50px;
}

.about__logo-column {
  display: flex;
  width: 430px;
  padding: 0px 95px;
  justify-content: center;
  align-items: start;
}

.about__logo-background {
  display: flex;
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  flex-shrink: 0;
}

.about__title {
  padding-top: 100px;
  padding-bottom: 100px;
  height: 246px;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__text-paragraph {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bottom-margin {
  margin-bottom: 25px;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 183px 50px 90px 50px;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-list-item {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.footer__menu-link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 49px;
  align-items: center;
  list-style-type: none;
}

.footer__social-link {
  display: block;
  width: 48px;
}
